/venv/
/winVenv/
/test_picture/
/eButton_data/
/dist/
/build/
/imu_00.hex
/main.spec
/log.log
/twos2decimal.m
/Test_read_hexFile_ebutton_imu.m
/test.m
/classifyResult.png
/.idea/
/__pycache__/
/eButton_data/
train2017/
train2017 (1).zip
annotations/
annotations_trainval2017.zip
cocoapi/
/.vscode/
./eButton_data/
./eButton_data_old/
/clarifai/
eButton_Data/
/eButton_data_old
result3.csv
